{% extends 'users/base/base.html' %}
{% block title %}MySite - Login{% endblock %}
{% block style %}
*{
    color: white;
}
body{
    background: url('/static/img/surendra4.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
input{
    color: black;
}
{% endblock %}
{% block body %}
<div class="container text-center">
    <h1 class="text-center my-3 py-2">Change Password</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{createform.non_field_errors|striptags}}
        {% for fm in pw %}
        <div class="my-2 py-2">
            <div class="my-1">
                {{fm.label_tag}}
            </div>
            <div class="my-1">
                {{fm}}
            </div>
            {{fm.errors|striptags}}
        </div>
        {% endfor %}
        <div class="my-2 py-2">
            <button type="submit" class="btn btn-outline-light">Change Now</button>
            <a href="{% url 'index' %}" class="btn btn-outline-light">Goto Home</a>
        </div>
    </form>
</div>
{% endblock %}